@{
    ViewData["Title"] = "Home Page";
}
<style>
   

    .describing-text {
        margin-top: 20px;
        margin-left: 130px;
        margin-right: 130px;
        margin-bottom: 20px;
        /*background-color: black;
        padding: 20px;
        border: 1px solid #37FF8B;*/
    }

    h1 {
        color: #37FF8B;
        text-shadow: 2px 2px 5px #37FF8B;
        text-shadow: 5px 5px 15px #37FF8B;
        text-shadow: 3px 3px 15px #37FF8B;
    }
   
    .bi-brush-fill, .bi-brush, .bi-house {
        text-shadow: none;
        color: #37FF8B;
    }

    .hero-image {
        /*border: 0.5px solid grey;*/
        width: 90vw;
        height: auto;
    }

</style>
<div class="text-center">

    <h1 class="display-4">  &nbsp;<b>Unlimited Art</b> </h1>
    <div class="describing-text">

        <p>
            Here you can find a wide variety of different types of art - from fine art to
            classic pieces and modern art, as well as futuristic styles.
            Our artists range from upcoming underground to well renowned names.
        </p>
      
    </div>
  
        <img class="hero-image" src="~/images/hero-blue.png" alt="Image Description">
   


</div>

